
.layout{
  min-height: 100vh;
}
 
.footer{
  text-align: center;
  font-size: 12px;
}

.footer a{
  color: inherit;
  text-decoration: underline;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  text-transform: uppercase;
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
  color: white;
  line-height: 32px;
  text-align: center;
  font-weight: bold;
}

.logo a{
  color: inherit;
}
